In [ ]:
#2
dict_1={0: 10, 1: 20}
dict_1[2]=3
print(dict_1)

{0: 10, 1: 20, 2: 3}

Write a Python script to sort (ascending and descending) a dictionary by value.

In [ ]:
#1
box = {'cutter':3,'pen':4,'eraser':2}
sort=sorted(box.values())
print(sort)

SyntaxError: ignored

In [ ]:
#3
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
#4
dictionary={'a':1,'b':2,'c':3,'d':4}
print(dictionary.get('e'))

None

In [ ]:
#5
dictionary={1:2,2:4,3:5,4:6}
for values in dictionary.items():
  print(values)

(1, 2)
(2, 4)
(3, 5)
(4, 6)

In [ ]:
#6
n=int(input("Input a number "))
d = {}

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#7
d={}
for x in range(1,16):
  d[x]=x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#8
dict1={1:2,2:4,5:6,6:7}
dict2={6:8,7:8}
dict1.update(dict2)
print(dict1)

{1: 2, 2: 4, 5: 6, 6: 8, 7: 8}

In [ ]:
#10
my_dict = {'data1':100,'data2':-54,'data3':247}
sum=0
for i in my_dict.values():
  sum+=i
print(sum)

293

In [ ]:
#11
my_dict = {'data1':100,'data2':-54,'data3':247}
multiple=1
for i in my_dict.values():
  multiple*=i
print(multiple)

-1333800

In [ ]:
#12
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict:
  del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

 Write a Python program to map two lists into a dictionary

In [ ]:
#13
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']

{range(0, 6): 25}

 Write a Python program to sort a given dictionary by key.

In [ ]:
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}

{'red': '#FF0000', 'green': '#008000', 'black': '#000000', 'white': '#FFFFFF'}

In [ ]:
#15
my_dict = {'x':500, 'y':5874, 'z': 560}
max=my_dict['x']
for value in my_dict:
   if max<my_dict[value]:
      max=my_dict[value]
print(max)

min=my_dict['y']
for value in my_dict:
  if min>my_dict[value]:
    min=my_dict[value]
print(min)

5874
500

In [ ]:
#17
student_data = {'id1':
   {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id2':
  {'name': ['David'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id3':
    {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id4':
   {'name': ['Surya'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [ ]:
#18
my_dict = {}
if not bool(my_dict):
  print('empty dictionary')

empty dictionary

Write a Python program to combine two dictionary adding values for common keys.

In [ ]:
#19
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
dict1={}

TypeError: ignored

Write a Python program to print all unique values in a dictionary.

In [ ]:
#20
Sample Data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

 Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary

In [ ]:
#21
Sample_data={'1':['a','b'], '2':['c','d']}
for j in Sample_data.values():

cd
dd

In [ ]:
#22
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
max=0
for i,j in my_dict.items():
  if j>max:
    max=j
    print(i)

a
b